$background-color: #ffffee;
$text-color: #070707;
$links-button-color: #e0e0d6;
$links-description-color: #000000;


$background-color-dark: #181a1f;
$text-color-dark: #ffffee;
$links-button-color-dark: #2a2d34;
$links-description-color-dark: #ffffff99;